{% extends "assignment/assignment_base.html" %}

{% block post_content %}
    <div class="post media">
        <div class="media-body">
            <strong>{{ assignment.creator.username }}</strong>
            <h5 class="media-heading">
                <time class="time"> {{ assignment.assign_time }} </time>
                <h2 class="classroom-name"> {{ assignment.description }}</h2>

            </h5>

            <div class="media-footer">
                {% if user.is_authenticated and user_role_in_classroom == 'student' %}
                    {% if user_submitted %}
                        <a href="{% url 'assignment:unsubmit' slug=assignment.classroom.slug pk=assignment.pk %}"
                           class="btn btn-lg btn-fill">
                            {% if submission.turn_in_status == 'late' %}
                                <p>turned in late</p>
                            {% else %}
                                <p>turned in</p>
                            {% endif %}
                            <span
                                    class="glyphicon glyphicon-plus-sign"></span>Unsubmit</a>
                    {% else %}
                        <a href="{% url 'assignment:submit' slug=assignment.classroom.slug pk=assignment.pk %}"
                           class="btn btn-lg btn-fill"><span
                                class="glyphicon glyphicon-plus-sign"></span>Submit Assignment</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}