{% extends "classroom/classroom_base.html" %}

{% block pregroup %}


    <h1>{{ classroom.name }}</h1>
    <h2> Member Count: {{ classroom.members.count }}</h2>
    <h3> Code: {{ classroom.code }}</h3>

    <div class="content">


        {% if user in classroom.members.all %}
            <a href="{% url 'classroom:leave' slug=classroom.slug %}" class="btn btn-lg btn-fill btn-warning"><span
                    class="glyphicon glyphicon-remove-circle"></span> Leave</a>
        {% endif %}

    </div>

{% endblock %}

